@font-face {
  font-family: CircularStd;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/CircularStd-Medium.otf");
}
@font-face {
  font-family: CircularStd;
  font-weight: 600;
  font-style: normal;
  src: url("./fonts/CircularStd-Bold.otf");
}
@font-face {
  font-family: CircularStd;
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/CircularStd-Black.otf");
}
@font-face {
  font-family: CircularStd;
  font-weight: 300;
  font-style: normal;
  src: url("./fonts/CircularStd-Book.otf");
}
html {
  margin: 0 auto;
  max-width: 1500px;
  font-family: CircularStd;
}

body {
  margin: 0;
  background-color: #FEE606
}
@media (max-width: 479px) {
  body .logo {
    margin-top: 0px;
  }
  body .page-title {
    margin-top: 30px;
  }
  body .page-title .page-subtitle {
    font-size: 26px;
    margin-top: 30px;
  }
}

h1{
  font-size: 48px;
}

h2{
  font-size: 36px;
  font-weight: 300;
}

@media (max-width: 1025px){
  h1{
    font-size: 40px;
  }

  h2{
    font-size: 26px;
  }
}


@media (max-width: 767px){
  h1{
    font-size: 36px;
  }

  h2{
    font-size: 24px;
  }
}

@media (max-width: 500px){
  h1{
    font-size: 28px;
  }

  h2{
    font-size: 18px;
  }
}




.content {
  margin: 0 5%;
  position: relative;
}

@media (max-width: 1125px) {
  .content {
    margin: 0 54.5px;
  }
}
@media (max-width: 767px) {
  .content {
    margin: 0 24.5px;
  }
}
@media (max-width: 479px) {
  .content {
    margin: 0 14.5px;
  }
}

#header{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#headericons{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.small_logo{
  height: 50px;
  margin-top: 5%;
}

@media (max-width: 500px) {
  .small_logo{
    padding-left: 5vw;
  }
}

/* Homepage content (includes page title and picure) */

.homepage-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-title {
  max-width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}

@media (max-width: 500px){
  .page-title{
    max-width: 100%;
    margin: 0%;
    padding: 7.5% 5% 2% 5%;
  }
}


.page-title h1 {
  margin: 0;
  margin-bottom: 10px;
}

.page-title .page-subtitle {
  line-height: 1.4;
  font-size: 30px;
  font-weight: 300;
}

.subtext {
  color: #808080;
  font-weight: normal
}

.picture {
  width: 25%; 
  margin: 5% 0% 0% 5%;
  position: relative;
}

@media (max-width: 767px){
  .picture{
    width: 27.5%;
  }
}

@media (max-width: 500px){
  .picture{
    width: 100%;
    margin: 0;
    padding: 0% 5%;
  }
}

.picture .pic-container {
  max-width: 100%;
  position: relative;
}

.picture .pic-container img {
  width: 100%;
  box-shadow: 2px 2px 10px #000;
}

/* Email Capture Tag */
.email-capture {
  width: 100%;
}

@media (max-width: 500px){
  .email-capture{
    width: 100%;
    padding: 2% 5% 10% 5%;
  }
}

#email-form{
  box-shadow: 0px 3px 6px rgba(0,0,0, .15), 0px 1.5px 3px rgba(0,0,0, .40);
  border: none;
  border-radius: 5px;
  padding: 1.2% 2% 1.1% 2%;
  color: black;
  font-size: 1.05rem;
  font-family: CircularStd;
  font-weight: 300;
  color: #9c9c9c;
  font-style: normal;
  text-decoration: none;
  max-height: 50px;
  margin-right: 10px;
  width: 30%
}

#email-form:hover{
  box-shadow: 0px 1px 3px rgba(0,0,0, .1), 0px .5px 2px rgba(0,0,0, .20);
}

@media (max-width: 767px) {
  #email-form {
    padding: 2% 7.5% 1.9% 7.5%;
  }
}

@media (max-width: 500px) {
  #email-form {
    padding: 2% 25% 1.9% 7.5%;
  }
}

#applybutton{
  background-color: red;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0,0,0, .15), 0px 1.5px 3px rgba(0,0,0, .40);
  padding: 1.2% 5% 1.1% 5%;
  color: white;
  font-size: 1.05rem;
  font-family: CircularStd;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  max-height: 50px;
  outline: none;
}

@media (max-width: 767px) {
  #applybutton {
    padding: 2% 7.5% 1.9% 7.5%;
  }
}

#applybutton:hover{
  box-shadow: 0px 1px 3px rgba(0,0,0, .1), 0px .5px 2px rgba(0,0,0, .20);
}
